.cardContainer {
  position: relative;

  width: 100vw;
  height: 88vh;
  padding: 0.5rem 0 0;

  display: flex;
  flex-direction: column;

  .filterContainer {
    z-index: 1;
    margin-bottom: 0.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;

    button {
      width: fit-content;
      height: fit-content;

      padding: 0.5rem;

      background-color: var(--gray-200);
      border: none;
      box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.5);
      border-radius: 0.5rem;

      transition-property: transform;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
      
      -webkit-transition-property: transform;
      -webkit-transition-duration: 0.5s;
      -webkit-transition-timing-function: ease-in-out;

      &.active {
        background-color: var(--green-500);
      }

      &:hover {
       transform: scale(1.1);
      }
    }

    .clearFilter {
      background-color: var(--purple-300);
    }
  }

  .bodyContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem 0 0;

    max-height: 100%;

    overflow-y: auto;
  
    &::-webkit-scrollbar{
      width: 18px;
      height: 18px;
    }
    &::-webkit-scrollbar-thumb {
      border: 0.2rem solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.15);
      box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
      -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    }
    &::-webkit-scrollbar-button {
      width: 0.5rem;
      height: 0.5rem;    
    }
    &::-webkit-scrollbar-corner {
      background-color: transparent
    }
  }
  
  .loading {
    position: fixed;
    bottom: 6vh;
    left: 50%;
    transform: translateX(-50%);
  }
}

