.headerContainer {
  position: sticky;
  top: 0;

  background-color: var(--purple-800);
  height: 8vh;

  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 1;

  box-shadow: inset 0px -5px 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px -5px 15px rgba(0, 0, 0, 0.5);
}

.logoContent {
  h1 {
    font-style: italic;

    padding: 0 0.5rem;
    border: 0.2rem solid var(--gray-900);
    border-radius: 0.5rem;
    box-shadow: 3px 3px 5px var(--gray-900);
    strong {
      font-style: normal;
      color: var(--green-500);
    }

    @media (max-height: 750px) {
      font-size: 1.5rem;
    }
  }
}
